/* media query for responsiveness
@media (max-width: 767px) {}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}
*/

/* divOne  */

.divOne{
    background-color: white;
    min-height: 50px;
}

.contentOne{
    margin-top: 15px;
}

.fButtons{
    font-size: 15px;
    color: black;
    font-weight: 500;
}
.fButtons:hover{
    font-size: 15px;
    color: #666666;
    text-decoration: none;
}
.tButton{
    position: absolute;
    top: 20%;
    left: 10%;
}
/* divTwo  */

.divTwo{
    background-color: #F5F6F1;
    min-height: 120px;
}

.contentTwo{
    padding: 20px 0 20px 0;
}
.mButtonS{
    text-align: left;
    float: left;
    display: inline-block;
}
.logo{
    color: #463F3A;
    margin-top: 50px;
}
.logoText{
    margin-top: -20px;
    font-size: 9px;
}
.sButtons{
    font-size: 14px;
    padding: 5px;
    color: black;
    margin-top: 50px;
}
.sButtons:hover{
    font-size: 14px;
    padding: 5px;
    color: black;
    text-decoration: none;
    margin-top: 50px;
}
.logoImg{
    width: 80%;
    height: auto;
    float: left;
    display: inline-block;
}



/* divThree */

.shoeBackground{
    width: 100%;
    height: auto;
}

.contentService{
    margin-top: 35px;
}

.red{
    color: #F56764;
}
.header{
    font-size: 30px;
    font-weight: 700;
}

.pGraph{
    font-size: 18px;
    color: #444444;
}
.boxOpacity{

    background-color: #F5F6F1;
}

/* 4th div starts */

.divFour{
    background-color: #F8F8F8;
    min-height: 600px;
}

.viewTheCategory{
    font-size: 18px;
    color: #F56764;
}
.divFourT{
    min-height: 400px;
}
.viewTheCategory:hover{
    font-size: 18px;
    color: #F56764;
    text-decoration: none;
}
.addToCart{
    border-radius: 0%;
    width: 100%;
    background-color: #463F3A;
}

.headerW{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.headerW:hover{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.divFourTh{
    background-color: #F8F8F8;
    min-height: 400px;
}
.divFive{
    min-height: 400px;
}

.divSix{
    background-color: #F2F2F0;
    min-height: 120px;
}
.contentSix{
    padding: 25px 0 25px 0;
}

.divSeven{
    background-color: #463F3A;
    min-height: 120px;
}

.logoW{
    color: white;
    margin-top: 50px;
}
.logoTextW{
    color: white;
    margin-top: -20px;
    font-size: 9px;
}
.sButtonsW{
    font-size: 14px;
    padding: 5px;
    color: white;
    margin-top: 50px;
}
.sButtonsW:hover{
    font-size: 14px;
    padding: 5px;
    color: white;
    text-decoration: none;
    margin-top: 50px;
}

.slash{
    color: #F56764;
}

.pGraphW{
    font-size: 13px;
    color: white;
}

.lastDiv{
    min-height: 70px;
}
.contentLastDiv{
    padding: 25px 0 25px 0;
}


@media (min-width: 769px){
    .designLeft{
        text-align: left;
        float: left;
    }
    .designRight{
        text-align: left;
        float: left;
    }
    .topIconMargin{
        margin-top: 50%;
        float: right;
    }

    .SSBR{
        font-size: 45px;
        font-weight: bold;
        color: white;
    }

    .SSBR:hover{
        font-size: 45px;
        font-weight: bold;
        color: lightgrey;
        text-decoration: none;
    }
    .bLogo{
        position: absolute;
        top: 40%;
        left: 60%;
        width: 40%;
    }
    .box{
        position: absolute;
        width: 30%;
        height: auto;
        top: 2%;
        left: 30%;
        margin-left: 10%;
    }
    .rLogo{
        margin-top: 2%;
    }

}
@media (max-width: 768px){


    .box{
        position: absolute;
        width: 20%;
        height: auto;
        top: 8%;
        left: 30%;
    }


    .designLeft{
        text-align: center;
    }

    .designRight{
        text-align: center;
    }
    .topIconMargin{
        margin-bottom: 20%;
        float: right;
    }

    .SSBR{
        font-size: 18px;
        font-weight: bold;
        color: white;
    }

    .SSBR:hover{
        font-size: 18px;
        font-weight: bold;
        color: lightgrey;
        text-decoration: none;
    }
    .bLogo{
        position: absolute;
        top: 25%;
        left: 44%;
        width: 52%;
        height: auto;
    }
}

@media (max-width: 380px){
    .box{
        position: absolute;
        width: 15%;
        height: auto;
        top: 8%;
        left: 24%;
    }
    
}

@media (max-width: 768px) {
    .box{
        position: absolute;
        width: 20%;
        height: auto;
        top: 8%;
        left: 30%;
    }
}